.background{
    background-color: rgb(183, 158, 241);
    height: 46vh;
}

.main{
    display: flex;
}

.contact{
   color: white;
   font-size: 2.5rem;
   font-weight: bold;
   font-family: Arial, Helvetica, sans-serif;
   margin-top: 100px;
   margin-right: 40px;
}

.img2{
    margin-left: 110px;
}

.text{
    text-align: center;
}

.text h2{
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px;
}

.text textarea{
    color: rgb(128, 128, 128);
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 20px;
    padding-top: 20px;
}

.btn{
    background-color: rgb(33, 163, 33);
    color: white;
    height: 30px;
    width: 90px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    border: 0.5px solid black;
    border-radius: 5px;
    margin-left: 890px;
    margin-top: 5px;
}